
<div class="footer py-5 ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3 col-sm-6 text-center">
                <h5>الخدمات</h5>
                <a href="#">مسابقة الابتكار</a>
                <a href="#">الذكاء الاصطناعي</a>
                <a href="#">الخدمات الرقمية</a>
                <a href="#">تطوير الأعمال</a>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <h5>الوزارة</h5>
                <a href="#">عن الوزارة</a>
                <a href="#">الوظائف الشاغرة</a>
                <a href="#">الأسئلة الشائعة</a>
                <a href="#">سياسة الاستخدام</a>
                <a href="#">الوزارة على الخريطة</a>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <h5>الروابط</h5>
                <a href="#">عن الوزارة</a>
                <a href="#">الوظائف الشاغرة</a>
                <a href="#">الأسئلة الشائعة</a>
                <a href="#">سياسة الاستخدام</a>
                <a href="#">الوزارة على الخريطة</a>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <h5>تابعنا</h5>
                <a href="#">فيسبوك</a>
                <a href="#">تويتر</a>
                <a href="#">انستجرام</a>
            </div>
        </div>
        
        <div class="footer-line"></div>
        <div class="footer-logo">
            <img src="/assets/logo.jfif" alt="">
        </div>
        
        <div class="footer-bottom">
            <p>جميع الحقوق محفوظة للحكومة المصرية 2021</p>
        </div>
    </div>
</div>
