<div class="background_theme py-3 mt-2">
  <div class="container">
    <div class="row">
      <p class="title_font_style pt-3">آخر الأخبار</p>
    </div>
    <div class="row">
      <div class="col-9">
        <p class="txt">
          .روبميت دومسويأ ود تيس,تيايلأ جنيكسي ابيادأ روتيتكيسنوك, تيمأ تيس
          رالود موسبيا ميرول
        </p>
      </div>
      <div class="col-3 d-flex justify-content-end">
        <button class="btn btn_white rounded-pill">
          <span class="ps-3"> كل الأخبار</span>
          <i class="fa-solid fa-arrow-left"></i>
        </button>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-12 col-sm-12 col-md-7">
        <img
          src="../../../../assets/OIP.png"
          alt="mainnewphoto"
          class="imgNews1"
        />
      </div>
      <div class="col-12 col-sm-12 col-md-5">
        <div class="row">
          <p class="newTitle1">
            رئيس الوزراء يستعرض ما نشرته مجلة ENR الأمريكية: مصر تشهد طفرة إعمار
            ضخمة
          </p>
        </div>
        <div class="row">
          <p>
            استعرض الدكتور مصطفى مدبولي رئيس مجلس الوزراء، تقريرا بشأن ما نشرته
            مجلة Engineering News-Record الأمريكية، المعروفة بـ ENR، حيث أكدت أن
            مصر، البلد الذي يبلغ عدد سكانه 103 ملايين نسمة، يشهد طفرة إعمار
            ضخمة، في القلب منها مشروع إنشاء العاصمة الإدارية الجديدة، وهو
            المشروع الذي يستهدف نقل مقر الحكومة إلى مبان عصرية حديثة.
          </p>
        </div>
        <button class="btn btn_blue rounded-pill">
          <span class="ps-3"> قراءة المزيد</span>
          <i class="fa-solid fa-arrow-left"></i>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4">
        <div class="card background_theme border-0">
          <img src="../../../../assets/OIP1.png" class="card-img-top" />
          <div class="card-body px-0">
            <p class="date">21/3/2012</p>
            <p class="card-text">
              مصر: رؤيتنا مشتركة مع الأردن حول تحقيق السلام الشامل.
            </p>
            <a href="#" class="btn btn_white">
              قراءة المقال
              <i class="fa-solid fa-arrow-left px-2"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4">
        <div class="card background_theme border-0">
          <img src="../../../../assets/OIP2.png" class="card-img-top" />
          <div class="card-body px-0">
            <p class="date">21/3/2012</p>
            <p class="card-text">
              مصر: رؤيتنا مشتركة مع الأردن حول تحقيق السلام الشامل.
            </p>
            <a href="#" class="btn btn_white">
              قراءة المقال
              <i class="fa-solid fa-arrow-left px-2"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4">
        <div class="card background_theme border-0">
          <img src="../../../../assets/OIP3.png" class="card-img-top" />
          <div class="card-body px-0">
            <p class="date">21/3/2012</p>
            <p class="card-text">
              مصر: رؤيتنا مشتركة مع الأردن حول تحقيق السلام الشامل.
            </p>
            <a href="#" class="btn btn_white">
              قراءة المقال
              <i class="fa-solid fa-arrow-left px-2"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
