<div class="container">
  <div class="row">
    <p class="title_font_style pt-3">الخدمات الالكترونية</p>
  </div>
  <div class="row">
    <div class="col-9">
      <p class="txt">
        .روبميت دومسويأ ود تيس,تيايلأ جنيكسي ابيادأ روتيتكيسنوك, تيمأ تيس رالود
        موسبيا ميرول
      </p>
    </div>
    <div class="col-3 d-flex justify-content-end">
      <button class="btn rounded-pill">
        <span class="ps-3"> كل الخدمات </span>
        <i class="fa-solid fa-arrow-left"></i>
      </button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 col-sm-4 mb-1">
      <app-card-home card_title="خدمات تصاريح العمل"></app-card-home>
    </div>
    <div class="col-12 col-sm-4 mb-1">
      <app-card-home card_title="خدمات الادلة الجنائية"></app-card-home>
    </div>
    <div class="col-12 col-sm-4 mb-1">
      <app-card-home card_title="خدمات الاحوال المدنية"></app-card-home>
    </div>
  </div>
</div>
