<div class="row header justify-content-between">
  <div
    class="col-8 col-sm-6 col-lg-4 d-flex justify-content-center align-items-center"
  >
    <div class="row">
      <div class="col-1">
        <img
          src="../../../../assets/misr-logo.png"
          alt="misr-logo"
          class="imgStyle"
        />
      </div>
      <div class="col-10 d-flex align-items-center">
        <div class="row flex-column font pe-5">
          <div>
            <p class="m-0">وزارة الطيران المدنى</p>
            <p class="m-0">جمهورية مصر العربية</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="col-4 col-sm-6 col-lg-4 d-flex justify-content-center align-items-center"
  >
    <button class="btn lng_btn ms-2">
      <i class="fa-solid fa-globe"></i>
      <span class="txt_btn p-1">اللغة العربية</span>
    </button>
    <button class="btn sign_btn">
      <i class="fa-regular fa-user"></i>
      <span class="txt_btn p-1"> تسجيل الدخول </span>
    </button>
  </div>
</div>
