
    
<nav class="navbar navbar-expand-lg navbar-dark bg-primary py-2">
  <div
    class="container-fluid d-flex justify-content-between align-items-center flex-row-reverse"
  >
    <div class="d-flex align-items-center gap-3">
      <button class="btn sign_btn">
        <i class="fa-regular fa-user"></i>
        <span class="txt_btn p-1"> تسجيل الدخول </span>
      </button>
      <button class="btn lng_btn ms-2">
        <i class="fa-solid fa-globe"></i>
        <span class="txt_btn p-1"> EN</span>
      </button>
    </div>

    <div
      class="collapse navbar-collapse justify-content-center"
      id="mainNavbar"
    >
      <ul
        class="navbar-nav d-flex flex-wrap justify-content-center gap-lg-3 text-end"
      >
        <li class="nav-item">
          <a class="nav-link text-white" href="#">الرئيسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="about-us">عن المعهد</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="scientific-departments"> الأقسام العلمية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="postgraduate-programs">برامج الدراسات العليا</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="training"> التدريب</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="consulting-projects"> المشروعات الاستشارية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="library"> المكتبة</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="contact-us">تواصل معنا</a>
        </li>
      </ul>
    </div>

    <div class="d-flex align-items-center gap-2 logo-box text-white text-end">
      <img
        src="../../../../assets/misr-logo.png"
        alt="شعار النسر"
        class="eagle-logo"
      />
      <div class="logo-text">
        <div class="x">جمهورية مصر العربية</div>
        <div class="y">وزارة النقل</div>
        <div class="z">المعهد القومي للنقل</div>
      </div>
    </div>
    <button
      class="navbar-toggler me-2"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar"
      aria-controls="mainNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
