
 *,
 *::after,
 *::before {
     box-sizing: border-box;
 }

  .bg-primary {
    --bs-bg-opacity: 1;
    background-color: #164A82 !important;
    direction: rtl;
}

.lng_btn{
    background-color: #ffffff;
    color: #000000;
    font-weight: 200;
    border-radius: 8px;
    border: none;
  }
  .sign_btn{
    background-color: #FFFFFF;
    color: #000000;
    font-weight: 400;
    border-radius: 8px;
    border: none;
  }
  .txt_btn{
    font-size: 14px;
  }
  
  .eagle-logo {
    height: 50px;
    width: auto;
  }
  
  .logo-text .x{
    font-size: 12px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 8px;
  }
  .logo-text .y{
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 5px;
  }
  .logo-text .z{
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 5px;
  }
  
  .logo-box {
    text-align: right;
  }
  
  
  @media (max-width: 767px) {
    .navbar-nav {
      flex-direction: column;
      gap: 0.5rem;
      align-items: flex-start;
    }
  
    .logo-text div {
      font-size: 11px;
    }
  }
  
  
  @media (min-width: 768px) {
    .navbar-nav {
      flex-direction: row;
    }
  
    .logo-text div {
      font-size: 13px;
    }
  }
  



