<section class="about py-1">
    <div class="container  ">
        <div class="row mb-3 justify-content-between">
            <div class="col-md-6 col-12 vision-section z">
                <div class="row  border_line"> </div>
                <h2 class="mb-3 mt-4 ">{{ourVision?.nameAr}}</h2>
                <div class="text-1">
                <p class="text-right">
                    {{ourVision?.description_Ar}}
                </p>
                </div>

            </div>
            <div class="col-md-6 col-12  z ">
                <div class="row  border_line"> </div>
                <img [src]="ourVision?.image" alt="" class=" about-img ">
            </div>
        </div>
        <div class="row py-3 justify-content-between ">
            <div class="col-md-6 col-12 z">
                <img [src]="ourMessage?.image" alt="" class="py-5">
                <div class="row  border_x_line "> </div>
            </div>
            
            <div class="col-md-6 col-12 message-section z">
                <h2 class="mb-3 mt-4">{{ourMessage?.nameAr}}</h2>
                <div class="text-1">
                <p class="text-right">
                    {{ourMessage?.description_Ar}}                </p>
              
                <div class="row  border_x_line"> </div>
                </div>
              
            </div>
        </div>
</div>
</section> 
