

<div class="text-center py-4" style="font-weight: 700; font-size: 35px; color: #000000;">عن المعهد</div>
<!-- Nav Tabs -->

<ul class="nav nav-tabs justify-content-start ps-0 mb-0 border-0 px-5" id="myTab" role="tablist"  >
    <li class="nav-item custom-tab" role="presentation">
      <button class="nav-link active" id="rail-tab" data-bs-toggle="tab" data-bs-target="#rail" type="button" role="tab" aria-controls="rail" aria-selected="true">
          الرؤية والرسالة
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="traffic-tab" data-bs-toggle="tab" data-bs-target="#traffic" type="button" role="tab" aria-controls="traffic" aria-selected="false">
          الهيكل التنظيمى 
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="roads-tab" data-bs-toggle="tab" data-bs-target="#roads" type="button" role="tab" aria-controls="roads" aria-selected="false">
         نبذة عن المعهد
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="ports-tab" data-bs-toggle="tab" data-bs-target="#ports" type="button" role="tab" aria-controls="ports" aria-selected="false">
        قيادات المعهد
      </button>
    </li>
  </ul>

  <!-- Tab Content -->

  <div class="tab-content mt-0 px-4" id="myTabContent">
    <div class="tab-pane fade show active" id="rail" role="tabpanel" aria-labelledby="rail-tab">
        <div class="content-box">
            <section class="about py-5">
              <div class="container  ">
                  <div class="row mb-3 justify-content-between">
                      <div class="col-md-6 col-12 vision-section z">
                          <div class="row  border_line"> </div>
                          <h2 class="mb-3  ">رؤيتنا</h2>
                          <div class="text-1">
                          <p class="text-right">
                              يسعى المعهد القومي للنقل للتميز محلياً وإقليمياً في تخصصات النقل واللوجستيات، ويعمل على الحفاظ على برامج معترف بها دوليا مع مرتبة أكاديمية متميزة .
                          </p>
                          <p class="text-right">
                              يسعى المعهد القومي للنقل للتميز محلياً وإقليمياً في تخصصات النقل واللوجستيات، ويعمل على الحفاظ على برامج معترف بها دوليا مع مرتبة أكاديمية متميزة .
                          </p>
                          </div>
          
                      </div>
                      <div class="col-md-6 col-12   z ">
                          <div class="row  border_line"> </div>
                          <img src="../../../../assets/Subtract.png" alt="" class=" about-img ">
                      </div>
                  </div>
                  <div class="row py-3 justify-content-between ">
                      <div class="col-md-6 col-12 z">
                          <img src="../../../../assets/Subtract.png" alt="" class="py-5">
                          <div class="row  border_x_line "> </div>
                      </div>
                      
                      <div class="col-md-6 col-12 message-section z">
                          <h2 class="mb-3 mt-4">رسالتنا</h2>
                          <div class="text-1">
                          <p class="text-right">
                              المعهد القومي للنقل منظمة تعليمية غير هادفة للربح، يعمل علي دمج
                             جميع موارده بكفاءة للوفاء بمتطلبات سوق العمل من البرامج األكاديمية
                                               والبحثية واالستشارية والتدريبية من خالل
                          </p>
                          <p class="text-right ">
                              تطوير عالقات طويلة المدى وإقامة شراكات دائمة مع أطراف منظومة النقل
                              المصري والمؤسسات الدولية واإلقليمية المعنية بقضايا النقل.
                          </p>
                          <div class="row  border_x_line"> </div>
                          </div>
                        
                      </div>
                  </div>
          </div>
          </section> 
          </div>
    </div>
    <div class="tab-pane fade" id="traffic" role="tabpanel" aria-labelledby="traffic-tab">
        <div class="content-box">

      </div>
    </div>
    <div class="tab-pane fade" id="roads" role="tabpanel" aria-labelledby="roads-tab">
        <div class="content-box">

        </div>
    </div>
    <div class="tab-pane fade" id="ports" role="tabpanel" aria-labelledby="ports-tab">
        <div class="content-box">

        </div>
    </div>
   
  </div>









