
<section class="hero-section ">
    <div class="overlay">
    <div class="container hero-content">
        <div class="row">
        <div class="col-sm-12">
        <h1 class="">مرحبا بك في</h1>
        <h2 class="mb-4">موقع وزارة الطيران المدني <br> جمهورية مصر العربية</h2>
        <a href="#" class="btn btn-outline-light btn-lg rounded-pill">
            اقرء المزيد 
            <i class="fa-solid fa-arrow-left"></i> 
        </a>
        </div>
        </div>
    </div>
    </div>
</section>
