*,
*::after,
*::before {
    box-sizing: border-box;
}


  .hero-wrapper {
    background-color: #fff;
  }
  
  .hero-banner {
    width: 90%;
    max-width: 1900px;
    height: 500px;
    border-radius: 20px;
    background-image: url('/assets/transport.png'); 
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .hero-banner .overlay {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color:rgba(69, 69, 69, 0.8);
    z-index: 1;
  }
  
  .hero-content {
    position: relative;
    z-index: 2;
    padding-top: 150px;
    margin-right: 450px;
  
  }
  


  .hero-content .x{
  
    font-weight: 700;
    font-size: 30px;
  }

  .hero-content .y{
   
    font-weight: 700;
    font-size: 30px;
  }







