
<section class="about py-5">
    <div class="container  ">
        <div class="row mb-3 justify-content-between">
            <div class="col-md-6 col-12 vision-section z">
                <div class="row  border_line"> </div>
                <h2 class="mb-3 mt-4 ">رؤيتنا</h2>
                <div class="text-1">
                <p class="text-right">
                    يسعى المعهد القومي للنقل للتميز محلياً وإقليمياً في تخصصات النقل واللوجستيات، ويعمل على الحفاظ على برامج معترف بها دوليا مع مرتبة أكاديمية متميزة .
                </p>
                <p class="text-right">
                    يسعى المعهد القومي للنقل للتميز محلياً وإقليمياً في تخصصات النقل واللوجستيات، ويعمل على الحفاظ على برامج معترف بها دوليا مع مرتبة أكاديمية متميزة .
                </p>
                </div>

            </div>
            <div class="col-md-6 col-12  z ">
                <div class="row  border_line"> </div>
                <img src="../../../../assets/Subtract.png" alt="" class=" about-img ">
            </div>
        </div>
        <div class="row py-3 justify-content-between ">
            <div class="col-md-6 col-12 z">
                <img src="../../../../assets/Subtract.png" alt="" class="py-5">
                <div class="row  border_x_line "> </div>
            </div>
            
            <div class="col-md-6 col-12 message-section z">
                <h2 class="mb-3 mt-4">رسالتنا</h2>
                <div class="text-1">
                <p class="text-right">
                    المعهد القومي للنقل منظمة تعليمية غير هادفة للربح، يعمل علي دمج
                   جميع موارده بكفاءة للوفاء بمتطلبات سوق العمل من البرامج األكاديمية
                                     والبحثية واالستشارية والتدريبية من خالل
                </p>
                <p class="text-right ">
                    تطوير عالقات طويلة المدى وإقامة شراكات دائمة مع أطراف منظومة النقل
                    المصري والمؤسسات الدولية واإلقليمية المعنية بقضايا النقل.
                </p>
                <div class="row  border_x_line"> </div>
                </div>
              
            </div>
        </div>
</div>
</section> 


<!-- <section class="about py-5">
    <div class="container">
      <div class="row mb-5 align-items-center">

        <div class="col-12 col-md-6 order-2 order-md-1 vision-section">
          <div class="border_line mb-3"></div>
          <h2 class="mb-3">رؤيتنا</h2>
          <div class="text-1">
            <p class="text-right">
              يسعى المعهد القومي للنقل للتميز محلياً وإقليمياً في تخصصات النقل واللوجستيات، ويعمل على الحفاظ على برامج معترف بها دوليا مع مرتبة أكاديمية متميزة .
            </p>
            <p class="text-right">
              يسعى المعهد القومي للنقل للتميز محلياً وإقليمياً في تخصصات النقل واللوجستيات، ويعمل على الحفاظ على برامج معترف بها دوليا مع مرتبة أكاديمية متميزة .
            </p>
          </div>
        </div>
        <div class="col-12 col-md-6 order-1 order-md-2 text-center">
            <div class="border_line mb-3 py-5"></div>
          <img src="../../../../assets/Subtract.png" alt="" class="img-fluid about-img mb-3 " />
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-12 col-md-6 text-center order-1">
          <img src="../../../../assets/Subtract.png" alt="" class="img-fluid about-img mb-3" />
          <div class="border_x_line mt-3"></div>
        </div>
        <div class="col-12 col-md-6 message-section order-2">
         
          <h2 class="mb-3">رسالتنا</h2>
          <div class="text-1">
            <p class="text-right">
              المعهد القومي للنقل منظمة تعليمية غير هادفة للربح، يعمل علي دمج جميع موارده بكفاءة للوفاء بمتطلبات سوق العمل من البرامج الأكاديمية والبحثية والاستشارية والتدريبية من خلال
            </p>
            <p class="text-right">
              تطوير علاقات طويلة المدى وإقامة شراكات دائمة مع أطراف منظومة النقل المصري والمؤسسات الدولية والإقليمية المعنية بقضايا النقل.
            </p>
            <div class="row  border_x_line"> </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  
    