
<section class="about">
    <div class="container mt-5 ">
        <div class="row ">
            <div class="col-md-6 col-12 ">
                <h2 class="mb-4">رؤيتنا</h2>
                <div class="text-1">
                <p class="text-right">
                    قطاع الطيران المدني متميز عالمياً و نموذجاً يحتذى به في تفعيل محاور التنمية المستدامة
                </p>
                <p class="text-right">
                    تطوير الاداء و تحسين جودة خدمات النقل الجوي و سلامة الطيران بما يضمن تأمين الطائرات و الركاب طبقاً للإتفاقيات و التشريعات الدولية.
                </p>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <h2 class="mb-4">رسالتنا</h2>
                <div class="text-2">
                <p class="text-left">
                    النهوض بقطاع الطيران المدني مستهدفاً المستويات العالمية من خلال محددات المنافسة في الصناعة (الجودة – السعر – المرونة – الوقت) بما يتواكب مع المتغيرات البيئية الداخلية و الخارجية لضمان رضاء العملاء عن الخدمات المقدمة لهم تحقيقاً لأهداف القطاع بما يتماشي مع خطة التنمية المستدامة في إطار السياسة العامة للدولة.
                </p>
                <p class="text-left">
                    تطوير وزيادة الطاقة الاستيعابية للمطارات بما يتناسب مع الزيادة المطردة في حركة الركاب و الطائرات و التوقعات المستقبلية لهذه الحركة.
                </p>
                </div>
            </div>
        </div>
</div>
</section>