/* .background_theme{
  background-color: #f6f6f9;
} */
/* .container{
  width: 90%;
}
.border_line{
    border-top: 3px solid #000000;
}
.titles{
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  padding-top: 20px;
}

.links{
 text-decoration: none;
 color: #153E9B;
 font-size: 16px;
 font-weight: 700;
}

.fa-arrow-left {
  width: 20px;
  height: 20px;
  background-color: #153E9B;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
} */






.related-sites-section {
  background-color: #ffffff; 
}

.section-title {
  font-weight: bold;
  color: #333;
}

.related-card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
  cursor: pointer;
  margin-bottom: 15px;
}



.site-title {
  font-size: 14px;
  color: #000000;
  font-weight: 500;
}

.arrow-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-circle i {
  color: #000;
}


.fa-arrow-left{
  transform: rotate(45deg);
}



