
 

<div class="container py-5 text-end">
  <div class="row align-items-center mb-4">
    <div class="col-md-9">
      <h3 class="fw-bold">الخدمات الالكترونية</h3>
      <p class="text-muted mb-0" >
        روبميت دومسويأ ود تيس،تيايلأ جنيكسي ابيادأ روتيتكيسنوك، تيمأ تيس رالود موسبيا ميرول.
      </p>
    </div>
   
      <div class="col-md-3">
        <div class="search-box-container">
          <input type="text" class="search-box-input text-end" placeholder="ابحث عن خدمة">
          <i class="fa fa-search search-icon-left"></i>
        </div>
  </div>

  <div class="row g-3">
    <div class="col-12 col-md-4">
      <div class="service-card d-flex justify-content-between align-items-center">
        <span class="service-title">خدمات تصاريح العمل</span>
        <div class="icon-circle">
          <i class="fa-solid fa-arrow-left"></i>
        </div>
      </div>
    </div>
  
    <div class="col-12 col-md-4">
      <div class="service-card d-flex justify-content-between align-items-center">
        <span class="service-title">خدمات الادلة الجنائية</span>
        <div class="icon-circle">
          <i class="fa-solid fa-arrow-left"></i>
        </div>
      </div>
    </div>
  
    <div class="col-12 col-md-4">
      <div class="service-card d-flex justify-content-between align-items-center">
        <span class="service-title">خدمات الاحوال المدنية</span>
        <div class="icon-circle">
          <i class="fa-solid fa-arrow-left"></i>
        </div>
      </div>
    </div>
  </div>
  

  
  <div class="row mt-4">
    <div class="col-11"></div>
    <div class="col-1">
      <button class="btn-more">
        المزيد
        <i class="fa-solid fa-arrow-left ms-2 arr"></i>
      </button>
      
    </div>
  </div>
</div>



