 <!-- <section  class="hero-wrapper py-4 d-flex justify-content-center">
    <div [ngClass]="['hero-banner']" [style.backgroundImage]="'url('+imgePath+')'" class="hero-banner position-relative overflow-hidden text-white  ">
      <div class="overlay"></div>
      @for(hero of heroList; track hero){
      <div class="hero-content position-relative z-2  ">
        <h2 class="mb-3 x"> {{hero.titleAr}} </h2>
       
        <p class="mb-4 z">
          {{hero.descriptionAr}}
        </p>
        <p> {{hero.descriptionAr}}</p>
       
      </div>
    }
    </div>
  </section> -->


 
  <section class="hero-wrapper w-100 mt-5 ">
    <div id="heroCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
  
      <div class="carousel-inner">
         <!-- <div class="carousel-item active position-relative">
          <img src="../../../../assets/picture7.png" class="d-block w-100" alt="Slide 1" />
          <div class="carousel-caption d-flex flex-column justify-content-center align-items-start h-100 text-white overlay">
            <div *ngIf="heroList.length > 0" class="hero-content">
              <h2 class="mb-3 x">{{ heroList[0].titleAr }}</h2>
              <p class="mb-4 z" style="text-align: justify;">{{ heroList[0].descriptionAr }}</p>
            </div>
          </div>
        </div>  -->
         <!-- Slide 1 -->
        <div class="carousel-item active position-relative mt-0" style="height:auto;">
          <img src="../../../../assets/picture7.png" class="d-block" alt="Slide 1"
               style="width:100%; height:auto; object-fit:cover; background-color:#000;" />
          <div class="carousel-caption d-flex flex-column justify-content-start align-items-end text-white overlay"
               style="position:absolute; top:0; left:0; right:0; padding-top: 90px; padding-left: 250px;">
            <div *ngIf="heroList.length > 0" class="hero-content text-end text-box">
              <h2 class="mb-3 x">{{ heroList[0].titleAr }}</h2>
              <p class="mb-4" style="text-align: justify;">{{ heroList[0].descriptionAr }}</p>
            </div>
          </div>
        </div>
        
        <!-- Slide 2 -->
        <!-- <div class="carousel-item position-relative">
          <img src="../../../../assets/picture8.png" class="d-block w-100" alt="Slide 2" />
          <div class="carousel-caption d-flex flex-column justify-content-center align-items-start h-100 text-white overlay">
            <div *ngIf="heroList.length > 0" class="hero-content">
              <h2 class="mb-3 x">{{ heroList[0].titleAr }}</h2>
              <p class="mb-4 z"  style="text-align: justify;">{{ heroList[0].descriptionAr }}</p>
            </div>
          </div>
        </div> -->

        <div class="carousel-item position-relative mt-3" style="height:auto;">
          <img src="../../../../assets/picture8.png" class="d-block" alt="Slide 2"
               style="width:100%; height:auto; object-fit:cover; background-color:#000;" />
          <div class="carousel-caption d-flex flex-column justify-content-start align-items-end text-white overlay"
               style="position:absolute; top:0; left:0; right:0; padding-top: 90px; padding-left: 250px;">
            <div *ngIf="heroList.length > 0" class="hero-content text-end text-box">
              <h2 class="mb-3 x">{{ heroList[0].titleAr }}</h2>
              <p class="mb-4" style="text-align: justify;">{{ heroList[0].descriptionAr }}</p>
            </div>
          </div>
        </div>
        
        <!-- Slide 3 -->
        <div class="carousel-item position-relative mt-3">
          <img src="../../../../assets/picture9.png" class="d-block w-100" alt="Slide 3" />
          <div class="carousel-caption d-flex flex-column justify-content-center align-items-start h-100 text-white overlay">
            <div *ngIf="heroList.length > 0" class="hero-content text-end text-box">
              <h2 class="mb-3 x">{{ heroList[0].titleAr }}</h2>
              <p class="mb-4"  style="text-align: justify; font-size: medium;">{{ heroList[0].descriptionAr }}</p>
            </div>
          </div>
        </div>

        <!-- <div class="carousel-item position-relative mt-2" style="height:auto;">
          <img src="../../../../assets/picture9.png" class="d-block" alt="Slide 3"
               style="width:100%; height:auto; object-fit:cover; background-color:#000;" />
          <div class="carousel-caption d-flex flex-column justify-content-start align-items-end text-white overlay"
               style="position:absolute; top:0; left:0; right:0; padding-top: 90px; padding-left: 250px;">
            <div *ngIf="heroList.length > 0" class="hero-content text-end">
              <h2 class="mb-3">{{ heroList[0].titleAr }}</h2>
              <p class="mb-4" style="text-align: justify;">{{ heroList[0].descriptionAr }}</p>
            </div>
          </div>
        </div> -->
        

      </div>
    </div>
  </section>
  
  