.footer{
    background-color: rgba(30, 30, 30, 0.9);
    height: 350px;
    color: #ffffff;
    margin-top: 105px;
    position: relative;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}
.footer .x{
    margin-top: 25px;
}




.footer-line {
    position: relative;
    width: 100%;
    height: 1px;
    background-color:#ffffff;
    margin: 50px auto;
}
.footer-logo {
    position: absolute; 
    left: 50%; 
    top: 67%;
    transform: translate(-50%,-50%); 
    background-color: #19275A; 
   
}
.footer-logo img {
    height: 60px;
}
.footer-bottom {
    text-align: center;
    margin-top: 60px;
}


@media (max-width: 576px) {
    .footer {
        text-align: center; 
    }
    .footer-logo {
        top: 84%; 
    }
    .footer-logo img {
        height: 50px; 
    }
    .footer-line {
        margin-top: 50px; 
    }
    
}
@media (min-width: 576px) and (max-width: 767px)  {
    .footer-logo {
        top: 77%; 
    }

}

