
<!-- <div class="footer py-5 ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3 col-sm-6  text-center">
                <h5>الخدمات</h5>
                <a href="#">مسابقة الابتكار</a>
                <a href="#">الذكاء الاصطناعي</a>
                <a href="#">الخدمات الرقمية</a>
                <a href="#">تطوير الأعمال</a>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <h5>المعهد</h5>
                <a href="#">عن المعهد</a>
                <a href="#">الوظائف الشاغرة</a>
                <a href="#">الأسئلة الشائعة</a>
                <a href="#">سياسة الاستخدام</a>
               
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <h5>الروابط</h5>
                <a href="#">عن المعهد</a>
                <a href="#">الوظائف الشاغرة</a>
                <a href="#">الأسئلة الشائعة</a>
                <a href="#">سياسة الاستخدام</a>
                
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <h5>تابعنا</h5>
                <a href="#"><i class="fab fa-facebook-f"></i> </a>
                <a href="#"><i class="fab fa-instagram"></i> </a>
                <a href="#"><i class="fab fa-twitter"></i> </a>
                
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <img src="../../../../assets/misr-logo.png" alt="">
                </div>
        </div>
        
       
    </div>
</div> -->



<div class="footer py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-2 col-sm-6 text-center">
          <h5>الخدمات</h5>
          <a href="#" class="x">مسابقة الابتكار</a>
          <a href="#">الذكاء الاصطناعي</a>
          <a href="#">الخدمات الرقمية</a>
          <a href="#">تطوير الأعمال</a>
        </div>
  
        <div class="col-md-2 col-sm-6 text-center">
          <h5>المعهد</h5>
          <a href="#"  class="x">عن المعهد</a>
          <a href="#">الوظائف الشاغرة</a>
          <a href="#">الأسئلة الشائعة</a>
          <a href="#">سياسة الاستخدام</a>
        </div>
  
        <div class="col-md-2 col-sm-6 text-center">
          <h5>الروابط</h5>
          <a href="#"  class="x">عن المعهد</a>
          <a href="#">الوظائف الشاغرة</a>
          <a href="#">الأسئلة الشائعة</a>
          <a href="#">سياسة الاستخدام</a>
        </div>
  
        <div class="col-md-2 col-sm-6 text-center">
          <h5>تابعنا</h5>
          <a href="#"  class="x"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
  
        <div class="col-md-2 col-sm-12 text-center">
          <img src="../../../../assets/misr-logo.png" alt="شعار النسر" class="eagle-img mb-3" />
          <p class="copyright text-white">جميع الحقوق محفوظة  2025</p>
        </div>
      </div>
    </div>
  </div>
  