    <div class="container py-5">
      <h2 class="text-center mb-4" style="font-weight: 700; font-size: 35px; color: #000000;">التدريب</h2>
      
      <div class="mb-5">
        <h6 class="mb-3" style="font-weight: 700; font-size: 20px; color: #000000;">نبذة عن التدريب</h6>
        <p style="font-weight: 400; font-size: 24px; color: #000000;">
          يسعى المعهد القومي للنقل للتميز محلياً وإقليمياً في تخصصات النقل واللوجستيات، ويعمل على الحفاظ على برامج معترف بها دوليا مع مرتبة أكاديمية متميزة.
        </p>
      </div>
    
      <ul class="nav nav-tabs justify-content-start ps-0 mb-0 border-0 px-4" role="tablist">
        <li class="nav-item custom-tab" *ngFor="let cat of categories" role="presentation">
          <button
            (click)="setSelectedCategoryData(cat)"
            class="nav-link"
            [class.active]="selectedCategory?.id == cat.id"
            type="button"
            role="tab">
            {{ cat.nameAr }}
          </button>
        </li>
      </ul>
      
      <div class="content-box mt-0">
        <div *ngIf="!subCategories.length && selectedCategoryFile" class="text-center mb-3">
          <a [href]="selectedCategoryFile" target="_blank" rel="noopener noreferrer" class="content-link">
            للتفاصيل اضغط هنا
          </a>
        </div>
    
        <div *ngIf="subCategories.length" class="subcategories-container mb-3">
          <ul class="subcategories-list">
            <li *ngFor="let sub of subCategories"
           [class.active]="selectedSubCategoryId === sub.id"
           (click)="selectSubCategory(sub)">
           {{ sub.nameAr }}
          </li>

          </ul>
        </div>
    
        <div *ngIf="selectedSubCategoryFile !== null" class="text-center">
          <a *ngIf="selectedSubCategoryFile" [href]="selectedSubCategoryFile" target="_blank" rel="noopener noreferrer" class="content-link">
            للتفاصيل اضغط هنا
          </a>
          <p *ngIf="!selectedSubCategoryFile" class="no-file-text">
            لا يوجد ملف
          </p>
        </div>
      </div>
    </div>
    