
<div class="text-center py-4" style="font-weight: 700; font-size: 35px; color: #000000;">  الدراسات العليا</div>
<!-- Nav Tabs -->
    <ul class="nav nav-tabs justify-content-start ps-0 mb-0 border-0 px-5" id="myTab" role="tablist"  >
      <li class="nav-item custom-tab" role="presentation">
        <button class="nav-link active" id="rail-tab" data-bs-toggle="tab" data-bs-target="#rail" type="button" role="tab" aria-controls="rail" aria-selected="true">
             لائحة الدبلومات 
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="traffic-tab" data-bs-toggle="tab" data-bs-target="#traffic" type="button" role="tab" aria-controls="traffic" aria-selected="false">
            لائحة الماجستير 
        </button>
      </li>
    </ul>
  <!-- Tab Content -->
    <div class="tab-content mt-0 px-4" id="myTabContent">
      <div class="tab-pane fade show active" id="rail" role="tabpanel" aria-labelledby="rail-tab">
        <div class="content-box">
  
        </div>
      </div>
      <div class="tab-pane fade" id="traffic" role="tabpanel" aria-labelledby="traffic-tab">
          <div class="content-box">
  
        </div>
      </div>
    </div>
