





  
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary py-2">
    <div class="container-fluid d-flex justify-content-between align-items-center flex-row-reverse">
      <div class="d-flex align-items-center gap-3">
    <button class="btn sign_btn">
      <i class="fa-regular fa-user"></i>
      <span class="txt_btn p-1"> تسجيل الدخول </span>
    </button>
    <button class="btn lng_btn ms-2">
        <i class="fa-solid fa-globe"></i>
        <span class="txt_btn p-1"> EN</span>
      </button>
      </div>
    
      <div class="collapse navbar-collapse justify-content-center" id="mainNavbar">
        <ul class="navbar-nav d-flex flex-wrap justify-content-center gap-lg-3 text-end">
          <li class="nav-item"><a class="nav-link text-white" href="#">الرئيسية</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="#">عن المعهد</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="#"> الأقسام العلمية</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="#">برامج الدراسات العليا</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="#"> التدريب</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="#">  المشروعات الاستشارية</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="#"> المكتبة</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="#">تواصل معنا</a></li>
        </ul>
      </div>
  
      
      <div class="d-flex align-items-center gap-2 logo-box text-white text-end">
        <img src="../../../../assets/misr-logo.png" alt="شعار النسر" class="eagle-logo" />
        <div class="logo-text">
          <div class="x">جمهورية مصر العربية</div>
          <div class="y">وزارة النقل</div>
          <div class="z">المعهد القومي للنقل</div>
        </div>
      </div>
      <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav> -->
  

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary py-2">
    <div class="container-fluid d-flex justify-content-between align-items-center flex-row-reverse">
  
     
      <div class="d-flex align-items-center gap-3">
        <button class="btn sign_btn">
          <i class="fa-regular fa-user"></i>
          <span class="txt_btn p-1"> تسجيل الدخول </span>
        </button>
        <button class="btn lng_btn ms-2">
          <i class="fa-solid fa-globe"></i>
          <span class="txt_btn p-1"> EN</span>
        </button>
      </div>
  
      
      <div class="collapse navbar-collapse justify-content-center" id="mainNavbar">
        <ul class="navbar-nav d-flex flex-wrap justify-content-center gap-lg-3 text-end">
          <li class="nav-item">
            <a class="nav-link text-white" href="#">القائمة </a>
          </li>
  
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="aboutDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              عن المعهد
            </a>
            <ul class="dropdown-menu text-end" aria-labelledby="aboutDropdown">
              <li><a class="dropdown-item" href="#">الرؤية والرسالة</a></li>
              <li><a class="dropdown-item" href="#">الهيكل التنظيمي</a></li>
              <li><a class="dropdown-item" href="#">نبذة عن المعهد</a></li>
              <li><a class="dropdown-item" href="#">قيادات المعهد</a></li>
            </ul>
          </li>
  
          
          <li class="nav-item ">
            <a class="nav-link dropdown-toggle text-white" [routerLink]="sectors" id="departmentsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                اقسام المعهد
            </a>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link " [routerLink]="">القائمة</a>
          </li> -->
          
  
          
          <li class="nav-item ">
            <a class="nav-link dropdown-toggle text-white" href="#" id="postgradDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              برامج الدراسات العليا
            </a>
            <!-- <ul class="dropdown-menu text-end" aria-labelledby="postgradDropdown">
              <li><a class="dropdown-item" href="#">لائحة دبلومات في علوم النقل</a></li>
              <li><a class="dropdown-item" href="#">لائحة ماجستير في علوم النقل</a></li>
            </ul> -->
          </li>
  
          
          <li class="nav-item ">
            <a class="nav-link dropdown-toggle text-white" href="#" id="trainingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              النشاط التدريبي
            </a>
            <!-- <ul class="dropdown-menu text-end" aria-labelledby="trainingDropdown">
              <li><a class="dropdown-item" href="#">نبذة عن نشاط التدريب بالمعهد</a></li>
              <li><a class="dropdown-item" href="#">الخطة التدريبية السنوية</a></li>
              <li><a class="dropdown-item" href="#">ندوات ومؤتمرات</a></li>
            </ul> -->
          </li>
  
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="projectsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              المشروعات الاستثمارية
            </a>
            <ul class="dropdown-menu text-end" aria-labelledby="projectsDropdown">
              <li><a class="dropdown-item" href="#">الدراسات والمشروعات الاستشارية</a></li>
              <li><a class="dropdown-item" href="#">مشروعات لصالح الجهات</a></li>
            </ul>
          </li>
          
  
          
          <li class="nav-item ">
            <a class="nav-link dropdown-toggle text-white" href="#" id="libraryDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              المكتبة
            </a>
            <!-- <ul class="dropdown-menu text-end" aria-labelledby="libraryDropdown">
              <li><a class="dropdown-item" href="#">القسم الهندسي</a></li>
              <li><a class="dropdown-item" href="#">القسم الاقتصادي</a></li>
            </ul> -->
          </li>
  
        
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="contactDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              اتصل بنا
            </a>
            <ul class="dropdown-menu text-end" aria-labelledby="contactDropdown">
              <li>
                <span class="dropdown-item-text">
                  تليفون وفاكس: (22608402) 202+
                </span>
              </li>
              <li>
                <span class="dropdown-item-text">
                  البريد الإلكتروني: <br />
                  Enit.transport&#64;gmail.com
                </span>
              </li>
              <li>
                <a class="dropdown-item" href="https://www.facebook.com/profile.php?id=100090319399624" target="_blank">
                  صفحة المعهد على الفيسبوك
                </a>
              </li>
              <li>
                <span class="dropdown-item-text">
                  العنوان البريدي:<br />
                  ص.ب. 34 العباسية – شارع النصر - مدينة نصر - القاهرة
                </span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
  
     
      <div class="d-flex align-items-center gap-2 logo-box text-white text-end">
        <img src="../../../../assets/misr-logo.png" alt="شعار النسر" class="eagle-logo" />
        <div class="logo-text">
          <div class="x">جمهورية مصر العربية</div>
          <div class="y">وزارة النقل</div>
          <div class="z">المعهد القومي للنقل</div>
        </div>
      </div>
  
      
      <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
  






 
 