
<!-- <nav class="navbar navbar-expand-lg navbar-dark " >
    <div class="container-fluid d-flex justify-content-center mx-5 ">
    <a class="navbar-brand  " href="#">الرئيسية</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  " id="navbarNav">
        <ul class="navbar-nav  ">
            <li class="nav-item">
                <a class="nav-link" href="#">الوزارة</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">سلطة الطيران</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">المطارات</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">خدمة العملاء</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">الشركات و الهيئات</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">المركز الإعلامي</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">إعلانات</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">اتصل بنا</a>
            </li>
        </ul>
        <div class="search-box mx-3">
            <i class="fas fa-search search-icon"></i>
            <span>ابحث عن خدمة</span>
        </div>
        </div>
        </div>
</nav> -->



<nav class="navbar navbar-expand-lg  navbar-dark">
    <!-- <a class="navbar-brand " href="#">الرئيسية</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link brand" href="#">الرئيسية</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">الوزارة</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">سلطة الطيران</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">المطارات</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">خدمة العملاء</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">الشركات و الهيئات</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">المركز الإعلامي</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">اعلانات</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">اتصل بنا</a>
            </li>
        </ul>
        <div class="search-box ">
            <i class="fas fa-search search-icon ps-2"></i>
            <span>ابحث عن خدمة</span>
        </div>
    </div>
</nav>















 
 